Given two float numbers, divide the first number by the second number using integer division.

Input: 10.0, 3.0
Output: 3

Input: 10.0, 3.5
Output: 2

Input: 10.0, 3.1
Output: 3

In [2]:
num1 = 10.5
num2 = 3.7

What are the 3 types of numbers in python?

Add two float numbers together and print the result. Make sure to get the most accurate result.

Input: 10.0, 3.0
Output: 13.0

Input: 10.0, 3.5
Output: 13.5

Input: 10.0, 3.1
Output: 13.1

What values are falsey in python that are truthy in javascript?

Write a conditional that checks if a number is even or odd. Print the result. Print "Even" if the number is even, "Odd" if the number is odd. If the number is 0, print "Zero".

Input: 10
Output: Even

Input: 11
Output: Odd

Input: 0
Output: Zero

Write a conditional that returns True if a and b are divisible by 5 or c and d are divisible by 2. Return False otherwise.

Write a conditional that checks if a value is in a list. Print "Found" if the value is in the list, "Not Found" if the value is not in the list.

Input: 10, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Output: Found

Input: 11, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Output: Not Found

Write a conditional that checks to see if a value is false or falsey. Print "False" if the value is false or falsey, "True" if the value is true or truthy. Use the 'not' operator.

Input: 0
Output: False

Input: 1
Output: True

Input: ""
Output: False

Add a value to the end of a list. Print the list.

Input: [1, 2, 3, 4, 5]
Output: [1, 2, 3, 4, 5, 6]

Input: [1, 2, 3, 4, 5]
Output: [1, 2, 3, 4, 5, 6]

In [ ]:
list1 = [1, 2, 3, 4, 5]
num_to_add = 6

Add 3 values to the end of a list. Print the list.

Input: [1, 2, 3, 4, 5]
Output: [1, 2, 3, 4, 5, 6, 7, 8]

Input: [1, 2, 3, 4, 5]
Output: [1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
list1 = [1, 2, 3, 4, 5]
num_to_add = 6
num_to_add2 = 7
num_to_add3 = 8

Given a list and a value, remove the value from the list

In [ ]:
list1 = [1,5,2,6,4,2,7]
val = 2

In [ ]:
list1 = [1,5,2,6,4,2,7]
val = 2

list1.remove(2)
print(list1)

Access a given value from a multi-dimensional list. Print the value.

In [ ]:
list2 = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
value_to_access = 8

Given a list of numbers, a value, and a position, insert the value at the given position in the list. Print the list.

Input: [1, 2, 3, 4, 5], 6, 2
Output: [1, 2, 6, 3, 4, 5]

Input: [1, 2, 3, 4, 5], 6, 0
Output: [6, 1, 2, 3, 4, 5]